#  Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# secrets.tfvars files
**/secrets.tfvars

# Local .env files
*.env
**/.DS_Store

node_modules/
terraform/handler.zip
